
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
     @using(Html.BeginForm("Index", "QR", FormMethod.Post))
    {
        <input type="text" name="code" />
        <input type="submit" value="QR Oluştur" />
    }

    <br />
    @if (ViewBag.barcodeImg != null)
    {
        <img src="@ViewBag.barcodeImg" alt="" style="width:400px;height:400px" />
    }
</div>